.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    grid-gap: 10px;
    grid-auto-rows: 100px;
    padding: 10px;
    margin: 50px 20px;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  
}
img:hover {
    box-shadow: 0 5px 7px rgba(0,0,0,0.4), 0 3px 3px rgba(0,0,0,0.23); 
} 

img:first-child {
    grid-column: 1/3;
    grid-row: 1/3;
}

img:nth-child(6){
    grid-column: 3/5;
    grid-row: 3/5;
}

img:nth-child(10){
    grid-row: span 3;
}